In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [2]:
data = pd.read_csv('../dataset/emp_data.csv')

In [3]:
X = data.iloc[:,0]
y = data.iloc[:,-1]

In [4]:
X = np.array(X).reshape(-1, 1)

In [5]:
lr = LinearRegression()

In [6]:
lr.fit(X, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [7]:
lr.score(X, y)

0.8312363099883749

In [8]:
predict = lr.predict(X)

In [9]:
data['predict'] = predict

In [10]:
data

   Salary_hike  Churn_out_rate    predict
0         1580              92  83.927531
1         1600              85  81.896678
2         1610              80  80.881252
3         1640              75  77.834973
4         1660              72  75.804120
5         1690              70  72.757840
6         1706              68  71.133158
7         1730              65  68.696134
8         1800              62  61.588149
9         1870              60  54.480164